.navbar11{
    background-color: #008080  !important;
    height: 80px;
    
    
}
.bg-gold {
    background-color: #FFD700; /* Gold color */
    color: white; /* Text color for better readability */
  }